.tip-card {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  text-align: center;
  height: 83%;
  width: 85%;
  margin-bottom: 20%;
}

.description {
  text-align: center;
}

.delete {
  background-color: lightgoldenrodyellow;
  border-radius: 30px;
  padding: .5rem;
  margin-bottom: 3%;
}

.delete:hover {
  background-color: #056475;
  color: white;
  cursor: pointer;
}

.details {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.details :nth-child(1) {
  /* margin-right: 2rem; */
}

hr {
  border: solid 1px black;
  width: 100%;
}