.tip-card {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 0% 7% 5%; */
  text-align: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20%;
}

.mod-text {
  font-size: 20px;
  margin: 0.8% 5%;
}

.description {
  padding: 0% 7%;
  text-align: center;
}

.delete {
  background-color: #dcdcdc;
  border-radius: 30px;
  border: solid 1px black;
  padding: 0.6rem;
  margin-bottom: 7%;
  width: 40%;
}

.delete:hover {
  background-color: #056475;
  color: white;
  cursor: pointer;
  transition: 500ms;
}

.details {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

hr {
  border: solid 1px black;
  width: 100%;
}

.mod-1 {
  background-color: #9f80bb;
}
.mod-2 {
  background-color: #60f2fc;
}
.mod-3 {
  background-color: #f9ae06;
}
.mod-4 {
  background-color: #cc193b;
}

.styling-box {
  border-radius: 25px 25px 0px 0px;
  display: flex;
  justify-content: flex-start;
  height: 6%;
  opacity: 70%;
  width: 100%;
}
