.tip-card {
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
}

.description {
  text-align: center;
}
